.action_button {
  position: relative;
  background-color: transparent;
  border: none;
  padding: .25rem;

  .action_button-tooltip {
    display: none;
  }

  &:hover {
    .action_button-tooltip {
      display: block;
      opacity: 1;
      visibility: visible;
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      padding: .5rem;
      background-color: rgb(255 255 255);
      color: #000000;
      text-align: center;
      white-space: nowrap;
      box-shadow: 0 0px 10px 0 rgb(0 0 0 / 30%);
    }
  }
}